/* Reset */

* {
    font-family: 'Opens Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
.capa {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: url('../images/capa.png'), url('../images/ruido.png'), linear-gradient(50deg, #BBDEFB, #42A5F5);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.conteudo_padrao {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}


/* topo */

#topo {
    width: 100%;
    height: 64px;
    position: relative;
    background-color: #212121;
    border-bottom: 5px solid #004c98;
}

#logo {
    position: absolute;
    width: 200px;
    height: 45px;
    left: 5%;
    background: url(../images/rozaazul.svg) no-repeat;
    text-indent: -1000px;
    overflow: hidden;
    background-size: cover;
}

#logo a {
    width: 148px;
    height: 92px;
    display: block;
}

#nav_hamburger {
    display: none;
    text-align: right;
}

#nav_hamburger span {
    display: inline-block;
    padding: 14px 15px;
    background-color: #212121;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

#nav_hamburger span:after {
    display: inline-block;
    margin-left: 10px;
    width: 32px;
    height: 5px;
    content: "";
    border-top: 14px double #fff;
    border-bottom: 5px solid #fff;
    /* border-radius: 5px; */
}

#nav_hamburger span.abrir:after {
    border: none;
    content: 'x';
    font-size: 26px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: Arial;
}

nav {
    margin-bottom: 30px;
}

nav#menu {
    background-color: #212121;
    padding: 0;
}

nav#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 9px;
    text-align: right;
}

nav#menu li {
    display: inline-block;
    padding: 0 5px;
}

nav#menu li:last-child {
    border-right: none;
}

nav#menu a {
    display: block;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}

nav#menu a:hover {
    color: #ffd970;
}

nav#nav_responsive {
    position: relative;
    display: none;
}

nav#nav_responsive ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #212121;
    border-bottom: 5px solid #004c98;
}

nav#nav_responsive li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
}

nav#nav_responsive li:last-child {
    border-bottom: none;
}

nav#nav_responsive a {
    display: block;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
}

nav#nav_responsive a:hover {
    color: #ffd970;
}

.capa {
    display: table;
    width: 100%;
    height: 470px;
}

.texto-capa {
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

.texto-capa h1 {
    font-size: 3em;
}

.container {
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
}


/* conteudo */

.titulo_site {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 5px;
    color: #115a9c;
    padding-top: 40px;
}

.subtitulo_site {
    text-align: center;
    margin: 0 0 40px;
}


/* nosso serviços */

#lista_servicos {
    list-style: none;
    padding: 0;
    overflow: hidden;
    width: 75%;
    margin: 15px;
    padding: 15px;
    margin: 0 auto;
}

#lista_servicos li {
    float: left;
    text-align: center;
    width: 100%;
    padding: 0;
    cursor: pointer;
    height: auto;
    margin-bottom: 10%;
    transition: all 200ms linear 0s;
}

#lista_servicos li:hover {
    padding-top: 10px;
}

#lista_servicos li:nth-child(3n) {
    margin-right: 0;
}

#lista_servicos img {
    display: block;
    margin: 0 auto;
}

#lista_servicos li p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #115A9C;
    font-weight: bold;
}

#lista_servicos span {
    font-size: 12px;
    color: #3a3b3c;
    padding: 5px;
}

.link_botao {
    display: inline-block;
    position: relative;
    background: #1F3574;
    padding: 4px 15px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.link_botao:hover {
    background: #ccc;
    color: #1F3574;
}


/* newsletter */

#newsletter {
    background: #ECEFF1;
    padding: 25px 0;
    color: #fff;
    overflow: hidden;
}

#newsletter h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1em;
    color: #212121;
    background-color: #eceff1;
}


/* Formulário newsletter */

#form_newsletter .content_form {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#form_newsletter fieldset {
    border: none;
}

#form_newsletter div.submit {
    width: 100%;
    margin: 6px 20px;
}

#form_newsletter label {
    font-size: 14px;
    color: #212121;
}

#form_newsletter input {
    height: 30px;
}

#form_newsletter .input_form {
    margin: 6px 20px;
    width: 100%;
}

#form_newsletter .input_campo {
    border: 1px solid #c6c6c6;
    padding: 0 5px;
    width: 100%;
    height: 50px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
}

#form_newsletter .input_submit {
    width: 100%;
    display: block;
    height: 40px;
    background: #1f3574;
    border: 0;
    border-radius: 3px;
    font-size: 1em;
    color: #fff;
}

#form_newsletter .input_submit:hover {
    background: #ccc;
    color: #1F3574;
}


/* Rodape */

#rodape {
    text-align: center;
    background: #212121;
    font-size: 12px;
    padding: 15px 0 10px;
    border-top: 5px solid #115a9c;
}

.rede_social {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-indent: -1000px;
    overflow: hidden;
    margin: 0 5px;
}

.rede_social_fb {
    background: url('../images/fb-icon.png') no-repeat;
}

.rede_social_be {
    background: url('../images/be-icon.png') no-repeat;
}

.rede_social_in {
    background: url('../images/in-icon.png') no-repeat;
}

.copyright {
    color: #fff;
}


/* Media Queries */

@media screen and (min-width: 780px) {
    #lista_servicos li {
        width: 33%;
        height: 170px;
        margin-bottom: 16%;
    }
    #form_newsletter .input_form {
        float: left;
        margin: 20px;
        padding: 5px;
        width: 40%;
    }
    #form_newsletter .input_campo {
        height: 40px;
        width: 90%;
    }
    #form_newsletter .input_submit {
        width: 200px;
        display: block;
        margin: 15px auto 0;
        float: none;
        height: 40px;
    }
    #topo {
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px) {
    #nav_hamburger {
        display: block;
    }
    nav#menu {
        display: none;
    }
    nav#nav_responsive {
        display: block;
    }
    #lista_servicos {
        width: 100%;
        margin: 0 auto;
    }
}